body {
    margin: 0% auto;
}
header.header {
    display: flex;
    align-items: center;
}
header.header img {
    width: 100px;
}
section.top-page {

background: url('../images/accessoire.jpg');
background-size: cover;
height:80vh;
padding: 25px;
}
nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 30px;
    list-style-type: none;
   
}
section.top-page {

    background: url('../images/arriere.jpg');
    background-size: cover;
    height:80vh;
    padding: 25px;
    }
    a {
        border: 2px solid gray;
        
    }